<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
            <ion-menu-button color="primary"></ion-menu-button>
          </ion-buttons>
      <ion-title text-center>Create Account</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list>
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
      <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="signup()" text-center>Create Account</ion-button>
          </ion-col>
    </ion-row>
      </ion-list>
        
  </ion-content>
  