<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="primary"></ion-back-button>
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="home()">
        <ion-icon name="car"></ion-icon>
        <ion-label>Available Rides</ion-label>
        
        
      </ion-tab-button>
  
      <ion-tab-button (click)="requestedrides()" >
        <ion-icon name="help-buoy"></ion-icon>
        <ion-label>Requested Rides</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
