<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rides/tabs/rides-available"></ion-back-button>
    </ion-buttons>
    <ion-title>Ride Detail</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    <ion-card >
        <ion-card-header>
            <ion-card-subtitle>
              {{ride.date}}
            </ion-card-subtitle>
            <ion-card-title>
             <h3>   {{ride.from}} - {{ride.to}}</h3>
            </ion-card-title>
            <ion-card-title>
                <ion-row>
                    <ion-col align-self-center>
                   <h5>        Time: {{ride.time}}  Price {{ride.price}}$</h5> 
                    </ion-col>
                    
                  </ion-row>
                  <ion-row>
                      <ion-col text-right>
                          <ion-button fill="clear" color="primary" (click)="bookRide()">
                            Book
                          </ion-button>
                        </ion-col>
                  </ion-row>
            </ion-card-title>
          </ion-card-header>
      </ion-card> 
</ion-content>
